@media (max-width: 977px) {
    .container {
        padding: 0 15px;
    }
    .header {
        justify-content: space-around;
    }
    .promo__icons {
        justify-content: space-around;
    }
}
