@import 'base/variables';
@import 'base/mixins';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'blocks/consultation';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/forms';
@import 'base/media';
@import 'blocks/footer';
* {font-family: 'MuseoModerno', sans-serif;}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}